a {
  color: rgb(0, 108, 228);
  text-decoration: none;
  font-weight: 600;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.df {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
.show-model {
  position: fixed;
  width: 1100px;
  background-color: #e5e7e9;
  z-index: 100;
  height: 400px;
  top: 100px;
  border-radius: 10px;
}
.head-model {
  width: 100%;
  display: flex;
  justify-content: right;
}
.close-model {
  width: 50px;
  font-size: 2rem;
}
.close-model:hover {
  cursor: pointer;
}
.image-model {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.image-model img {
  width: 100%;
  height: 100%;
}
.card-content-model {
  padding: 0 20px;
}
.info-room-model {
  padding-left: 20px;
}
#modalName {
  font-size: 2rem;
}
#modalDescription {
  font-size: 1.4rem;
}
.form-model {
  margin-top: 20px;
}
.font-label {
  font-size: 1.2rem !important;
  font-weight: 200;
}
.both-form {
  display: flex;
  justify-content: space-between;
}
.bottom-final {
  width: 100%;
  justify-content: right;
  display: flex;
}
.step-final {
  padding: 10px 0;
}
.total-price--model {
  line-height: 1.7;
  font-size: 1.5rem;
  font-weight: 600;
}
#checkInDate,
#checkOutDate {
  border: 0;
  list-style: none;
  background-color: #e5e7e9;
  border-bottom: 1px solid red;
  font-size: 1rem;
}
#checkInDate:focus,
#checkOutDate:focus {
  list-style: none;
  border: none;
  background-color: #e5e7e9;
  outline: none;
  border-bottom: 1px solid red;
}

.notify_among {
  position: fixed;
  right: -600px;
  margin-top: 70px;
  background-color: #d6eaf8;
  border-radius: 3px;
  z-index: 10000;
  padding: 20px 15px 15px 15px;
  transition: 0.5s;
}

.notify_among.active-show {
  display: block;
  opacity: 1;
  right: 30px;
}

.text-notify_among {
  font-size: 1rem;
  color: #333;
}

.control_notify {
  width: 100%;
  height: 4px;
  background-color: #e74c3c;
  margin-top: 5px;
  transition: width 0.2s;
}
.row {
  justify-content: space-between;
  align-items: center;
}

.hotel_name {
  margin-bottom: 8px;
  line-height: 32px;
}

.hotel_address {
  align-items: center;
}

.hotel_address > i {
  color: #0077cc;
  margin-right: 4px;
}

.hotel_address > a {
  margin-left: 4px;
}

.action > i {
  font-size: 20px;
}

.action_icon {
  width: 48px;
  height: 48px;
  text-align-last: center;
  align-content: center;
}

.action_icon > i {
  font-size: 20px;
  color: #0077cc;
}

.action_btn {
  text-align-last: center;
  align-content: center;
}

.action_btn > button {
  padding: 8px 16px;
  border: none;
  background-color: rgb(0, 108, 228);
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

.container-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.first-row-img {
  gap: 10px;
  align-items: normal;
}

.content-right {
  flex: 3;
}

.content-left {
  flex: 1;
  gap: 10px;
}

.first-col-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second-col-img {
  flex: 1;
}

.first-col-img img {
  height: 170px;
  width: 300px;
}

.second-col-img img {
  height: 350px;
  width: 525px;
}

.second-row-img {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.second-row-img img {
  height: 110px;
  max-width: 201px;
  flex: 1;
}

.content-left {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map > iframe {
  border-radius: 5px;
}

.container-description {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: normal;
}

.description {
  line-height: 25px;
}

.service-favor {
  margin-top: 16px;
}

.services {
  margin-top: 10px;
  line-height: 30px;
}

.services > i {
  color: green;
  font-size: 20px;
  margin-right: 10px;
}

.services > span {
  margin-right: 8px;
}

.container-highlight {
  background-color: #f0f6ff;
  border-radius: 5px;
  padding: 16px;
}

.highlight-header,
.highlight-content > h4 {
  margin-bottom: 10px;
}

.icon-local {
  padding: 8px;
}

.icon-local > i {
  font-size: 20px;
}

.container-room {
  flex-wrap: wrap;
}

.card-room {
  width: 95%;
  border: 1px solid #daefff;
  background-color: #f8f8f8;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 10px;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.image-room {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.image-room img {
  object-fit: cover;
  border-radius: 1rem;
}

.info-room {
  width: 73%;
  position: relative;
}

.info-room label {
  font-weight: 650;
  font-size: 18px;
  text-align: left;
}

.info-room hr {
  margin: 10px 0;
}

.more-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.benefits {
  width: 70%;
}

.benefits-list {
  display: flex;
  width: 100%;
}

.benefits-column {
  width: 50%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 0.5rem;
}

.price-room {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.price-room span {
  font-size: 18px;
  color: #e01600;
  font-weight: 700;
  text-align: center;
}

.price-room small {
  font-size: 16px;
  font-weight: 500;
  color: #171717;
}

.price-room button {
  border-radius: 8px;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 650;
  text-transform: uppercase;
  background-color: #e01600;
  margin-top: 8px;
  color: #fff;
  border: none;
}

.price-room button:hover {
  background-color: #ad1100;
  border: none;
  cursor: pointer;
}
