/* Tổng thể */
body {
  font-family: Blue Sans, "Segoe UI Variable Display";
  background-color: #fff;
}

.section {
  background-color: white;
}

.heading {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 1090px;
}

.heading h2 {
  text-align: left;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  margin-top: 15px;
}

.heading p {
  text-align: left;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  margin-top: 10px;
}

.offers-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 1090px;
}

.offers {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.hotel {
  text-align: left;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.1);
  width: 260px;
  height: 390px;
  flex-shrink: 0;
  overflow: hidden;
}

.hotel img {
  top: -5px;
  left: -5px;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.hotel-info {
  padding: 10px 0;
  white-space: normal;
  word-wrap: break-word;
}

.hotel-info a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.hotel-info a:hover {
  color: blue;
}

.hotel-details {
  display: flex;
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
}
.hotel-details2 {
  display: flex;
  font-size: 14px;
  color: #888;
  justify-content: space-between;
}

.hotel-details span {
  flex-basis: 50%;
}

.old-price {
  text-align: right;
  text-decoration: line-through;
  color: red;
  font-size: 14px;
}

.new-price {
  text-align: right;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
