/* Tổng thể */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.section {
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.section h2 {
    text-align: left;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.section p {
    text-align: left;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.offers-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.offers {
    display: flex;
    gap: 15px; 
}

.hotel {
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 230px;
    flex-shrink: 0;
    overflow: hidden;
}

.hotel img {
    top: -10px;
    left: -20%;
    width: 140%;
    height: 150px;
    object-fit: full;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.hotel-info {
    padding: 10px 0;
    white-space: normal;
    word-wrap: break-word;
}

.hotel-info a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.hotel-info a:hover {
    color: #005bb5;
}

.hotel-details {
    display: flex;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}
.hotel-details2 {
    display: flex;
    font-size: 14px;
    color: #888;
    justify-content: space-between;
}

.hotel-details span {
    flex-basis: 50%;
}

.old-price {
    text-decoration: line-through;
    color: red;
    font-size: 14px;
}

.new-price {
    color: black;
    font-weight: bold;
    font-size: 16px;
}
