
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul,li{
    list-style: none;
}
.container{
    width: 1100px;
    margin: 0 auto;
    font-size: 1.2rem;
}
.group-search{
    display: flex;
    justify-content: space-between;
}
.group-item{
    display: flex;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 780px;
    color: #1A1A1A;
    margin: 10px 0;
}
.left-item{
    height: 240px;
    width: 240px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.right-item{
    width: 500px;
    margin-left: 20px;
}
.favorite{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
}
.title-name--hotel{
    color: #006CE4;
}
.text-span{
    text-decoration: underline;
    font-size: 0.8rem;
}
.left-item >img{
    width: 100%;
    height: 100%;
}
.right-item--top{
    display: flex;
    justify-content: space-between;
}
.feedback{
    color: #1A1A1A;
}
.right-item--top--right{
   display: flex;
}
.point{
    background-color: #003b95;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    padding: 3px 5px;
}
.right-item--bot{
    display: flex;
    justify-content: space-between;
    border-left: 2px solid rgba(0,0,0,0.1);
}
.item-name{
    font-size: 1.2rem; 
    margin-left: 10px; 
    font-weight: 300;
}
.btn-primary{
    margin-top: 30px;
    background-color:#006ce4;
    width: 180px;
    color: #fff;
    padding: 10px 2px;
    font-size: 1.1rem;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.btn-button{
    display: flex;
    justify-content: right;
}
.filter-item{
    border: 1px solid rgba(0,0,0,0.25);
    padding: 20px;
}
.title-sreach{
    font-size: 1.4rem;
    margin-top: 30px;
}
.group-filter{
    margin-top: 20px;
}
.filter-item{
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px ;
    width: 250px;
}
.group-filter--search{
    justify-content: space-between;
}
.icon-search--filter{
    background-color: #006CE4;
    padding: 5px 7px;
    border-radius: 50%;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
